.ai {
  position: relative;
  &__header {
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;

    p {
      font-size: 1.5rem;
    }

    p + p {
      margin-top: 1rem;
    }
  }

  &__description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__title {
    line-height: 1.1;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  &__item {
    border: 3px solid $black;
    border-radius: 1rem;
    box-shadow: 0 4px 4px rgba($black, 0.25);
    display: flex;
    flex-basis: calc(25% - 2rem);
    flex-grow: 1;
    gap: 1.25rem;
    min-width: 22rem;
    padding: {
      bottom: 2.25rem;
      left: 1.125rem;
      right: 1.125rem;
      top: 2.25rem;
    }
  }

  &__image {
    max-width: 22rem;
    margin: 0 auto;
  }

  &__text {
    font: {
      size: 1.125rem;
      weight: 500;
    }
    line-height: 1.1;
    text-wrap: balance;
    text-transform: uppercase;
  }

  &__icon {
    align-self: center;
    flex-shrink: 0;
    width: 4rem;

    img {
      width: 100%;
    }
  }
}

@mixin ai-lg-min {
  .ai {
    background: url("#{$image-path}/hero-bg.svg") no-repeat center 35rem;
    background-size: contain;

    &__container {
      padding-bottom: 4rem;
    }

    &__header {
      margin-bottom: 3rem;
    }

    &__image {
      position: absolute;
      top: 0;
      right: -3rem;
    }
  }
}

@mixin ai-md {
  .ai {
    &__item {
      align-items: center;
    }
  }
}

@mixin ai-xs {
  .ai {
    &__item {
      flex-direction: column;
      text-align: center;
      padding: 2rem;
    }
  }
}
