.struggle {
  &__container {
    width: 75%;
  }

  &__footer,
  &__item {
    @include enable-pseudo-element;
    align-items: center;
    gap: 0.75rem;
    text: {
      transform: uppercase;
    }

    &::before {
      height: 2.25rem;
      width: 2.25rem;
    }
  }

  &__footer {
    font: {
      size: 1.25rem;
      weight: 700;
    }
    justify-content: center;
    margin-top: 4rem;

    &::before {
      background-image: url("#{$icon-path}/warning.svg");
    }
  }

  &__item {
    font: {
      size: 1.1875rem;
      weight: 600;
    }
    line-height: 1.2;

    &::before {
      background-image: url("#{$icon-path}/cross.svg");
    }
  }

  &__list {
    display: grid;
    gap: 1rem 6rem;
    justify-content: center;
  }

  &__title {
    color: $purple-200;
    font: {
      size: 1.75rem;
      weight: 500;
    }
    line-height: 1.2;
    margin-bottom: 2rem;
    text: {
      align: center;
      wrap: balance;
    }
  }
}

@mixin struggle-lg-max {
  .struggle {
    &__footer,
    &__list {
      margin: {
        left: auto;
        right: auto;
      }
      max-width: 40rem;
    }

    &__footer {
      flex-direction: column;
      text: {
        align: center;
        wrap: balance;
      }
    }
  }
}

@mixin struggle-lg-min {
  .struggle {
    &__item {
      text-wrap: balance;
    }

    &__list {
      align-items: center;
      grid-template-columns: 32rem 27rem;
      padding: 0 2rem;
    }
  }
}
