.stripe {
  background-color: $purple-200;
  overflow: hidden;
  padding: 1rem 0;

  &__list {
    animation: slide 4s linear infinite;
    display: flex;
    gap: 20rem;
    list-style: none;
    white-space: nowrap;
    width: 200%;
  }

  &__item {
    color: $white;
    flex-shrink: 0;
    font: {
      size: 1.25rem;
      weight: 700;
    }
    text-transform: uppercase;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-56.325rem));
  }
}
