::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $gray-50;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: $purple-200;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $orange-50;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: $purple-200 $gray-50;
}
