// Fonts
$primary-font: "Poppins", sans-serif;

$black: #000000;
$gray-50: #f4f2f2;
$gray-100: #d9d9d9;
$white: #ffffff;

$orange-50: #f58733;
$orange-400: #b84300;
$purple-50: #c9a6e9;
$purple-100: #9e73d3;
$purple-200: #7721c7;

// Folders Path
$base-path: "../assets";
$image-path: "#{$base-path}/images";
$icon-path: "#{$base-path}/icons";
