// Fonts
$primary-font: "Poppins", sans-serif;

$black: #000000;
$gray-50: #EAEAEA;
$gray-100: #d9d9d9;
$white: #ffffff;

$orange-50: #f58733;
$purple-200: #7721c7;


// Folders Path
$base-path: "../assets";
$image-path: "#{$base-path}/images";
$icon-path: "#{$base-path}/icons";
